html
  head
    title Bitcoin prices notifier
    block css
      link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
      link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans")
      style(type='text/css').
        body
        {
          font-family: "Open Sans", sans-serif;
        }
        
        .price
        {
          color: green;
        }
        
        .price .small
        {
          font-size: 0.85em;
          margin-top: 10px;
        }
        
        .spacer
        {
          display: inline-block;
          width: 15px;
        }
        
      script(src="/public/refresh-price.js")
  body
    .container
      .col-md-8.col-md-offset-2
        h1 Bitcoin prices notifier
          span.spacer
          a.btn.btn-default(href="/test-push") Test push
        hr
          
        if session.isLoggedIn
          .text-right
            span Logged in as: #{session.username}
        
        div.text-center  
          h1.price
            span#price-container $#{price}
            br
            span.small!= exchange
        
        block content
