extends layout.pug

block content
  form(action="/login" method="POST")
    label.form-label(for="username") Login
    input.form-control(type="text" name="username" id="username")
    
    label.form-label(for="password") Password
    input.form-control(type="password" name="password" id="password")

    br

    .text-center
      input.btn.btn-primary(type="submit" value="Login")
      span.spacer or
      a.btn.btn-default(href="/register") Register
