extends layout.pug

block content
  form(action="/register" method="POST")
    label.form-label(for="username") Login
    input.form-control(type="text" name="username" id="username" required)
    
    label.form-label(for="password") Password
    input.form-control(type="password" name="password" id="password" required)
      
    label.form-label(for="password") Confirm
    input.form-control(type="password" name="confirm" id="confirm" required)
      
    label.form-label(for="pushed_id") Pushed User ID
    input.form-control(type="text" name="pushed_id" id="pushed_id" required)

    br

    .text-center
      input.btn.btn-primary(type="submit" value="Register")
