h3 Existing alerts
table.table.table-striped
  tr
    th Direction
    th Threshold value
    th Notified when?
    th
  each a in alerts
    tr
      td!= a.direction
      td  $#{a.threshold}
      td!= a.notified_when
      td
        a(href="/remove?id=" + a._id) Remove

.text-center
  a.btn.btn-warning(href='/clear?inactive') Clear inactive
  span.spacer
  a.btn.btn-danger(href='/clear?all') Clear all
