h3 Add a threshold

form(action="/add" method="GET")
  label.control-label(for="direction") Direction: 
  select.form-control(name="direction" id="direction")
    option(value='rise') When price rise above ...
    option(value='fall') When price fall bellow ...
  br
  
  label.control-label(for="threshold") Threshold value:
  input.form-control(type="text" name="threshold" id="threshold" value=price)
  br
  
  .text-center
    input.btn.btn-primary(type="submit")
