h3 Existing alerts
table.table.table-striped
  tr
    th Direction
    th Threshold value
    th Notified when?
    th
  each t in thresholds
    tr
      td!= t.direction
      td  $#{t.threshold}
      td!= t.date_notified
      td
        a(href="/remove?id=" + t._id) Remove

.text-center
  a.btn.btn-warning(href='/clear?inactive') Clear inactive
  span &nbsp;
  a.btn.btn-danger(href='/clear?all') Clear all
